<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="icon" href="images/helmet.png" type="image/png" />
</head>
<body>
    <article>
        <header>
        <img src="images/header.jpg" />
        <nav>
            <a href="/elkc">home</a>
            <a href="/elkc/about-us">about us</a>
            <a href="/elkc/news">news</a>
            <a href="/elkc/calendar">calendar</a>
            <a href="/elkc/supreg">supp regs</a>
            <a href="/elkc/downloads">downloads</a>
            <a href="/elkc/contact">contact</a>
        </nav>
        </header>
        <section>
            {{{ contents }}}
        </section>
    </article>
</body>
</html>