@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');

body {
    background: #ededed;
    font-family: 'Titillium Web', sans-serif;
}

* {
  box-sizing: border-box;
}

header {
    overflow: hidden;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-transform: uppercase;
    background: black;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: 200ms all;
    cursor: pointer;
}

nav > a:hover {
    color: #fd1a0a;
}

article {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    background: white;
}

section {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding: 2vw;
}

section img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.flex > div {
    max-width: 15em;
    width: 100%;
    padding: 2em 0;
}

.logo {
    width: 300px;
    display: block;
    margin: 50px auto;
}